version: 2

default: &defaults
  docker:
    - image: circleci/node:10.19.0
  working_directory: ~/react-samples

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "yarn.lock" }}
      - run: yarn install --frozen-lockfile
      - save_cache:
          paths:
            - node_modules
          key: dependencies-{{ checksum "yarn.lock" }}

  test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "yarn.lock" }}
      - run: yarn test

  lint:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - dev-dependencies--{{ checksum "yarn.lock" }}
      - run: yarn lint

workflows:
  version: 2
  test:
    jobs:
      - build
      - lint:
          requires:
            - build
      - test:
          requires:
            - build
